* {
   box-sizing: border-box;
}

@media only screen and (min-wdith: 480px ) {
   .col-sm-1{ width: 8.33%;}
   .col-sm-2{ width: 16.67%;}
   .col-sm-3{ width: 25%;}
   .col-sm-4{ width: 33.33%;}
   .col-sm-5{ width: 41.67%;}
   .col-sm-6{ width: 50%;}
   .col-sm-7{ width: 58.33%;}
   .col-sm-8{ width: 66.67%;}
   .col-sm-9{ width: 75%;}
   .col-sm-10{ width: 83.33%;}
   .col-sm-11{ width: 91.67%;}
   .col-sm-12{ width: 100%;}
}

@media only screen and (min-width: 768px) {
   .col-md-1{ width: 8.33%;}
   .col-md-2{ width: 16.67%;}
   .col-md-3{ width: 25%;}
   .col-md-4{ width: 33.33%;}
   .col-md-5{ width: 41.67%;}
   .col-md-6{ width: 50%;}
   .col-md-7{ width: 58.33%;}
   .col-md-8{ width: 66.67%;}
   .col-md-9{ width: 75%;}
   .col-md-10{ width: 83.33%;}
   .col-md-11{ width: 91.67%;}
   .col-md-12{ width: 100%;}
}

@media only screen and (min-width: 768px) {
   .col-lg-1{ width: 8.33%;}
   .col-lg-2{ width: 16.67%;}
   .col-lg-3{ width: 25%;}
   .col-lg-4{ width: 33.33%;}
   .col-lg-5{ width: 41.67%;}
   .col-lg-6{ width: 50%;}
   .col-lg-7{ width: 58.33%;}
   .col-lg-8{ width: 66.67%;}
   .col-lg-9{ width: 75%;}
   .col-lg-10{ width: 83.33%;}
   .col-lg-11{ width: 91.67%;}
   .col-lg-12{ width: 100%;}
}







.container {
   max-width: 100vw;
   max-height: 100vh;
   width : 100%;
   height : 100%;
   background-color : rgba(230, 235, 210, .8)

  }

.header {
   margin: 0;
   color : darkblue;
   position : fixed;
   top : 0;   
   background-color : grey;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   flex-wrap: wrap;
   min-width: 100vw;
}

.logo {
   font-size: 250%;
   color: blue;
}

.navbar {
   color : white;
   align-items : center;
   overflow: auto;

}

.navbar ul {
   display: flex;
   justify-content: space-around;
   margin: 10px;
   list-style: none;
   color : rgb(5, 5, 5);
   align-items : center;
}

.navbar ul li {
   margin: 10px;
   list-style: none;
   color : rgb(5, 5, 5);
   align-items : center;
   font-size: 200%;
}

.navbar ul li:hover {
   margin: 10px;
   padding-bottom: 10px;
   color : rgb(255, 255, 255);
   animation: 1s ease-in;
   scale: 1.1;
}

.main {
   background-color : lightgrey;
   min-width: 100vw;
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
}

footer {
   color : white;
   position : relative;
   bottom: 0;
   right : 0;
   background-color : grey;
   text-align: center;
   min-width: 100vw;
}

footer ul {
   list-style: none;
}

footer ul li:hover {
   padding: 5px;
   color : rgb(123, 14, 153);
   font-size: 150%;
   z-index: 2;
}

/*================================*/
/*Main section css*/
.containers{
   overflow: hidden;
   display: flex;
   width: 100vw;
   align-items: center;
   justify-content: center;
}
.containers .txt {
   position: relative;
   color: rgb(95, 30, 145);
   font-size: 30px;
   background-color: lightgray;
}

.containers .first-txt{
   color: rgb(27, 21, 207);
   margin-right: 5px;
}

.containers .txt.last-txt::before{
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   border-left: 2px solid black ;
   background-color: lightgrey;
   animation: dynamic 5s steps(12) infinite;
   overflow: hidden;
}

@keyframes dynamic {
   40%, 60% {
      left : calc(100% + 2%) 
   };
   100% {
      left : 0
   }
         
}






/* .dynamic-txts li span::after{
   content: "";
   position: absolute;
   left: 0;
   height: 100%;
   width: 100%;
   background: #343f4f;
   border-left: 2px solid #fc6d6d;
   animation : typing 3s steps(10) infinite;
} */